<h3> View Treatment Details</h3>
<div>
  <div>
    <label> <b> Dosage: </b></label> {{treatment.dosage}}
  </div>
  <div>
    <label> <b> Fréquence: </b></label> {{treatment.frequence}}
  </div>
  <div>
    <label> <b> Date Début: </b></label> {{treatment.dateDeb}}
  </div>
  <div>
    <label> <b> Date Fin: </b></label> {{treatment.dateFin}}
  </div>
  <div>
    <label> <b> Etat: </b></label> {{treatment.status}}
  </div>
  <div>
    <label> <b> Quantité: </b></label> {{treatment.pillCount}}
  </div>

</div>
