<div class="row">
  <div class="card col-md-6 offset-md-3 offset-md-3">
    <div class="row">
      <h3 class="text-center"> Create Treatment </h3>
      <hr />
      <div class="card-body">
        <form (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label> Dosage</label>
            <input type="text" class="form-control" id="dosage" [(ngModel)]="treatment.dosage"
                   name="dosage">
          </div>

          <div class="form-group">
            <label> Fréquence</label>
            <input type="text" class="form-control" id="frequence" [(ngModel)]="treatment.frequence"
                   name="frequence">
          </div>

          <div class="form-group">
            <label> Date Fin</label>
            <input type="text" class="form-control" id="dateFin" [(ngModel)]="treatment.dateFin"
                   name="dateFin">
          </div>

          <div class="form-group">
            <label> Etat</label>
            <input type="text" class="form-control" id="status" [(ngModel)]="treatment.status"
                   name="status">
          </div>

          <div class="form-group">
            <label> Quantité</label>
            <input type="text" class="form-control" id="emailId" [(ngModel)]="treatment.pillCount"
                   name="pillCount">
          </div>

          <br />
          <button class="btn btn-success" type="submit">Submit</button>

        </form>
      </div>
    </div>
  </div>
</div>
