<section class="section section-no-border bg-color-light m-0">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="font-weight-bold text-color-dark mb-3">Liste des médicaments</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6" *ngFor="let medicament of medicaments">
          <article class="custom-post-event bg-color-light">
            <div class="post-event-content custom-margin-1">
              <h4 class="font-weight-bold text-color-dark">
                {{medicament.nom}}
              </h4>
              <span class="custom-event-infos">
                <ul>
                  <li>
                    <i class="fas fa-prescription-bottle-alt"></i>
                    {{medicament.type}}
                  </li>
                  <li>
                    <i class="fas fa-dollar-sign"></i>
                    {{medicament.prix}}
                  </li>
                  <li>
                    <i class="fas fa-boxes"></i>
                    {{medicament.quantite}}
                  </li>
                </ul>
              </span>
              <img [src]="medicament.imageMedic" alt="{{medicament.nom}}" class="img-fluid">
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
  