<!--<nav class="navbar">-->
<!--  <div class="logo">Hygeiaa</div>-->

<!--  &lt;!&ndash; NAVIGATION MENU &ndash;&gt;-->
<!--  <ul class="nav-links">-->

<!--    &lt;!&ndash; NAVIGATION MENUS &ndash;&gt;-->
<!--    <div class="menu">-->
<!--      <li><a href="/">Home</a></li>-->
<!--      <li>-->
<!--        <a href="/ordonnance/uploadimgOrd">Upload/download img</a>-->
<!--      </li>-->
<!--      <li><a href="/ordonnance/getordonnances">Gérer Ordonnances</a></li>-->
<!--      <li><a href="/ordonnance/updateordonnance">Update Ordonnance</a></li>-->

<!--    </div>-->

<!--  </ul>-->
<!--</nav>-->
<div  role="main" class="main shop pb-4" >
  <div class="container">
    <div class="row">
      <div class="col">
        <ul class="breadcrumb font-weight-bold text-6 justify-content-center my-5">
          <li class="text-transform-none me-2">
            <a href="shop-cart.html" class="text-decoration-none text-color-primary">Shopping Cart</a>
          </li>
          <li class="text-transform-none text-color-grey-lighten me-2">
            <a href="shop-checkout.html" class="text-decoration-none text-color-grey-lighten text-color-hover-primary">Checkout</a>
          </li>
          <li class="text-transform-none text-color-grey-lighten">
            <a href="shop-order-complete.html" class="text-decoration-none text-color-grey-lighten text-color-hover-primary">Order Complete</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row pb-4 mb-5">
      <div class="col-lg-8 mb-5 mb-lg-0">
        <form method="post" action="#">
          <div class="table-responsive">
            <table class="shop_table cart">
              <thead>
              <tr class="text-color-dark">
                <th class="product-thumbnail" width="15%">
                  ID
                </th>
                <th class="product-name text-uppercase" width="30%">
                  orderDate
                </th>
                <th class="product-price text-uppercase" width="15%">
                  status
                </th>
                <th class="product-quantity text-uppercase" width="20%">
                  Medicaments
                </th>
                <th class="product-quantity text-uppercase" width="20%">
                  Patient
                </th>
                <th class="product-quantity text-uppercase" width="20%">
                  Medecin
                </th>
                <th class="product-subtotal text-uppercase text-end" width="20%">
                  Action
                </th>
              </tr>
              </thead>
              <tbody>
              <tr class="cart_table_item" *ngFor="let ordonnance of ordonnances" >
                <td class="product-thumbnail">
                  {{ordonnance.id}}
                </td>
                <td class="product-name">
                  {{ordonnance.dateOrd}}
                </td>
                <td class="product-name">
                  {{ordonnance.description}}
                </td>
                <td class="product-name">
                  <ul>
                    <li *ngFor="let medicament of ordonnance.medicamentList">
                      {{medicament.nom}}
                    </li>
                  </ul>
                </td>
                <td class="product-name">
                  {{ordonnance.ordonnancepatient.nom}}{{ordonnance.ordonnancepatient.prenom}}
                </td>
                <td class="product-name">
                  {{ordonnance.ordonnancemed.nom}}{{ordonnance.ordonnancemed.prenom}}
                </td>
                <td class="product-subtotal text-end">
                  <button type="button" class="btn btn-danger"  (click)="deleteOrdonnance(ordonnance)" >Delete Ordonnance</button>
                </td>
              </tr>
              <tr>
                <td colspan="5">
                  <div class="row justify-content-between mx-0">
                    <div class="col-md-auto px-0 mb-3 mb-md-0">
                      <div class="d-flex align-items-center">
                        <button type="button" class="btn btn-light btn-modern text-color-dark bg-color-light-scale-2 text-color-hover-light bg-color-hover-primary text-uppercase text-3 font-weight-bold border-0 border-radius-0 ws-nowrap btn-px-4 py-3 ms-2" (click)="navigatetouploadpage()">Upload/Download OrdImg</button>
                        <button type="button" class="btn btn-light btn-modern text-color-dark bg-color-light-scale-2 text-color-hover-light bg-color-hover-primary text-uppercase text-3 font-weight-bold border-0 border-radius-0 ws-nowrap btn-px-4 py-3 ms-2" (click)="navigatetoupdatepage()">Update Ordonnance</button>
                        <button type="button" class="btn btn-light btn-modern text-color-dark bg-color-light-scale-2 text-color-hover-light bg-color-hover-primary text-uppercase text-3 font-weight-bold border-0 border-radius-0 ws-nowrap btn-px-4 py-3 ms-2" (click)="navigatetoaddpage()">Add Ordonnance</button>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
      <div class="col-lg-4 position-relative">
        <div class="pin-wrapper" style="height: 462px;"><div class="card border-width-3 border-radius-0 border-color-hover-dark" data-plugin-sticky="" data-plugin-options="{'minWidth': 991, 'containerSelector': '.row', 'padding': {'top': 85}}" style="width: 356px;">
          <img src="assets/FrontOffice/img/clients/istockphoto-1373659740-612x612.jpg">
          <img src="assets/FrontOffice/img/clients/New-York-Same-Day-Delivery-img-panorama.jpg">
          <img src="assets/FrontOffice/img/clients/images%20(1).jpg">
        </div></div>
      </div>
    </div>
  </div>
</div>
<!--<nav class="navbar">-->
<!--  <div class="logo">Hygeiaa</div>-->

<!--  &lt;!&ndash; NAVIGATION MENU &ndash;&gt;-->
<!--  <ul class="nav-links">-->

<!--    &lt;!&ndash; NAVIGATION MENUS &ndash;&gt;-->
<!--    <div class="menu">-->
<!--      <li><a href="/">Home</a></li>-->
<!--      <li>-->
<!--        <a href="/ordonnance/uploadimgOrd">Upload/download img</a>-->
<!--      </li>-->
<!--      <li><a href="/ordonnance/getordonnances">Gérer Ordonnances</a></li>-->
<!--      <li><a href="/ordonnance/updateordonnance">Update Ordonnance</a></li>-->

<!--    </div>-->

<!--  </ul>-->
<!--</nav>-->



<!--<table class="table">-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th>ID</th>-->
<!--    <th>Date</th>-->
<!--    <th>Description</th>-->
<!--    <th>Medicaments</th>-->
<!--    <th>Patient</th>-->
<!--    <th>Medecin</th>-->
<!--    <th>Action</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr *ngFor="let ordonnance of ordonnances">-->
<!--    <td>{{ordonnance.id}}</td>-->
<!--    <td>{{ordonnance.dateOrd}}</td>-->
<!--    <td>{{ordonnance.description}}</td>-->
<!--    <td>-->
<!--      <ul>-->
<!--        <li *ngFor="let medicament of ordonnance.medicamentList">-->
<!--          {{medicament.nom}} ({{medicament.dosage}})-->
<!--        </li>-->
<!--      </ul>-->
<!--    </td>-->
<!--    <td>{{ordonnance.ordonnancepatient.nom}}{{ordonnance.ordonnancepatient.prenom}}</td>-->
<!--    <td>{{ordonnance.ordonnancemed.nom}}{{ordonnance.ordonnancemed.prenom}}</td>-->
<!--    <td><button type="button" class="btn btn-danger" (click)="deleteOrdonnance(ordonnance) ">Delete Ord</button>-->
<!--    </td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td></td>-->
<!--    <td> <button type="button" class="submit-btn" (click)="navigatetouploadpage()">Upload/Download OrdImg</button></td>-->
<!--    <td>-->
<!--    </td>-->
<!--    <td>    <button type="button" class="submit-btn" (click)="navigatetoupdatepage()">Update Ord</button>-->
<!--    </td>-->
<!--    <td><button type="button" class="submit-btn" (click)="navigatetoaddpage()">Add Ordonnance</button> </td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->

