


<header id="header" class="header-effect-shrink" data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': false, 'stickyEnableOnMobile': false, 'stickyStartAt': 70, 'stickyChangeLogo': false, 'stickyHeaderContainerHeight': 70}">
    <div class="header-body border-top-0 box-shadow-none">
        <div class="header-container header-container-md container">
            <div class="header-row">
                <div class="header-column">
                    <div class="header-row">
                        <div class="header-logo">
                            <a href="index.html"><img alt="Porto" width="140" height="80" data-sticky-width="120" data-sticky-height="90" data-sticky-top="0" src="/assets/FrontOffice/img/7.jpg"></a>
                        </div>
                    </div>
                </div>
                <nav>
                    <ul>
                      <li><a routerLink="/addmedic">Add Medicament</a></li>
                      <li><a routerLink="/addpharm">Add Pharmacie</a></li>
                      <li><a routerLink="/medics">Medicaments</a></li>
                      <li><a routerLink="/pharmacie">Pharmacies</a></li>
                      <li><a routerLink="/map">Map</a></li>
                      <li><a routerLink="/medicament/:nom">Medicament Detail</a></li>
    <li><a routerLink="/pharmdet/:id">Pharmacie Detail</a></li>
  
                    </ul>
                  </nav>
                  

                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="feature-cursor-effect.html">Cursor Effect</a></li>
                                    <li><a class="dropdown-item" href="feature-grid-system.html">Grid System</a></li>
                                    <li><a class="dropdown-item" href="feature-reading-progress.html">Reading Progress</a></li>
                                    <li><a class="dropdown-item" href="feature-lazy-load.html">Lazy Load</a></li>
                                    <li><a class="dropdown-item" href="feature-page-loading.html">Page Loading</a></li>
                                    <li><a class="dropdown-item" href="feature-page-transition.html">Page Transition</a></li>
                                    <li><a class="dropdown-item" href="feature-side-panel.html">Side Panel</a></li>
                                    <li><a class="dropdown-item" href="feature-horizontal-scroll.html">Horizontal Scroll</a></li>
                                    <li><a class="dropdown-item" href="feature-locomotive-scroll.html">Locomotive Scroll</a></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                
        
    
</header>