<body>
    <!-- Animated Wave Background  -->
    <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
    <!-- Log In Form Section -->
    <section>
        <div class="container" id="container">
            <div class="form-container sign-up-container">
                <form action="#">
                    <h1>Sign Up</h1>
                    
                    <span>Or use your Email for registration</span>
                    <label>
                      <input type="nom" placeholder="nom"/>
                  </label>
                    <label>
                        <input type="email" placeholder="Email"/>
                    </label>
                    <label>
                        <input type="password" placeholder="Password"/>
                    </label>
                    <label>
                      <select class="form-select" aria-label="Default select example">
                        <option value="">-- Sélectionner une option --</option>
                      <option *ngFor="let a of roles" value="a.role">{{ a.role }} </option>
                      </select>
                    </label>
                    <button style="margin-top: 9px">Sign Up</button>
                </form>
            </div>
            <div class="form-container sign-in-container">
                <form action="#"  #form="ngForm" (ngSubmit)="onSubmit(form)">
                    <h1>Sign in</h1>
                    <div class="social-container">
                        <a href="https://Github.com/YasinDehfuli" target="_blank" class="social"><i class="fab fa-github"></i></a>
                        <a href="https://Codepen.io/YasinDehfuli" target="_blank" class="social"><i class="fab fa-codepen"></i></a>
                        <a href="mailto:Ydehfuli@gmail.com" target="_blank" class="social"><i class="fab fa-google"></i></a>
                    </div>
                    <span> Or sign in using E-Mail Address</span>
                    <label>
                        <input type="email" placeholder="Email" name="username"[(ngModel)]="username"/>
                    </label>
                    <label>
                        <input type="password" placeholder="Password" name="password"[(ngModel)]="password"/>
                    </label>
                    <a href="#">Forgot your password?</a>
                    <button>Sign In</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1 style="color: aliceblue;">Log in</h1>
                        <p style="color: aliceblue;">Sign in here if you already have an account </p>
                        <button class="ghost mt-5" id="signIn">Sign In</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1 style="color: aliceblue;">Create, Account!</h1>
                        <p style="color: aliceblue;">Sign up if you still don't have an account ... </p>
                        <button class="ghost" id="signUp">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </body>
    